In [1]:
import pandas as pd

# Sample DataFrame (replace this with your actual dataset)
data = {
    'Account_ID': [1, 2, 3, 4, 5],
    'Account_Balance': [3000, 15000, 7000, 20000, 12000],
    'Transaction_Amount': [2500, 1500, 3500, 200, 1000],
    'Transaction_Type': ['Deposit', 'Loan Payment', 'Loan Payment', 'Deposit', 'Loan Payment'],
    'Branch': ['Uptown', 'Downtown', 'Uptown', 'Uptown', 'Downtown']
}

df = pd.DataFrame(data)

# Task 1: Filter out all rows where the Transaction_Amount is greater than 2000
filtered_transaction_amount = df[df['Transaction_Amount'] <= 2000]

print("Rows where Transaction_Amount <= 2000:")
print(filtered_transaction_amount)

# Task 2: Find all rows where the Transaction_Type is "Loan Payment" and Account_Balance is greater than 5000
filtered_loan_payment = df[(df['Transaction_Type'] == 'Loan Payment') & (df['Account_Balance'] > 5000)]

print("\nRows where Transaction_Type is 'Loan Payment' and Account_Balance > 5000:")
print(filtered_loan_payment)

# Task 3: Extract transactions made in the "Uptown" branch
uptown_transactions = df[df['Branch'] == 'Uptown']

print("\nTransactions made in the 'Uptown' branch:")
print(uptown_transactions)

Rows where Transaction_Amount <= 2000:
   Account_ID  Account_Balance  Transaction_Amount Transaction_Type    Branch
1           2            15000                1500     Loan Payment  Downtown
3           4            20000                 200          Deposit    Uptown
4           5            12000                1000     Loan Payment  Downtown

Rows where Transaction_Type is 'Loan Payment' and Account_Balance > 5000:
   Account_ID  Account_Balance  Transaction_Amount Transaction_Type    Branch
1           2            15000                1500     Loan Payment  Downtown
2           3             7000                3500     Loan Payment    Uptown
4           5            12000                1000     Loan Payment  Downtown

Transactions made in the 'Uptown' branch:
   Account_ID  Account_Balance  Transaction_Amount Transaction_Type  Branch
0           1             3000                2500          Deposit  Uptown
2           3             7000                3500     Loan Payment  Uptown
3           4            20000                 200          Deposit  Uptown

In [3]:
import pandas as pd

# Sample DataFrame (replace this with your actual dataset)
data = {
    'Account_ID': [1, 2, 3, 4, 5],
    'Account_Balance': [3000, 15000, 7000, 20000, 12000],
    'Transaction_Amount': [2500, 1500, 3500, 200, 1000],
    'Transaction_Type': ['Deposit', 'Loan Payment', 'Loan Payment', 'Deposit', 'Loan Payment'],
    'Branch': ['Uptown', 'Downtown', 'Uptown', 'Uptown', 'Downtown']
}

df = pd.DataFrame(data)

# Task 1: Add a new column called Transaction_Fee (2% of Transaction_Amount)
df['Transaction_Fee'] = df['Transaction_Amount'] * 0.02

# Task 2: Create a new column Balance_Status based on Account_Balance
df['Balance_Status'] = df['Account_Balance'].apply(lambda x: 'High Balance' if x > 5000 else 'Low Balance')

# Display the updated DataFrame
print("Updated DataFrame with new columns:")
print(df)

Updated DataFrame with new columns:
   Account_ID  Account_Balance  Transaction_Amount Transaction_Type    Branch  \
0           1             3000                2500          Deposit    Uptown
1           2            15000                1500     Loan Payment  Downtown
2           3             7000                3500     Loan Payment    Uptown
3           4            20000                 200          Deposit    Uptown
4           5            12000                1000     Loan Payment  Downtown

   Transaction_Fee Balance_Status
0             50.0    Low Balance
1             30.0   High Balance
2             70.0   High Balance
3              4.0   High Balance
4             20.0   High Balance