In [3]:
import pandas as pd

# Load the dataset
df = pd.read_csv(r"C:\Users\K.vennela\Downloads\Day_9_banking_data.csv")

In [5]:
print(df.head())

         Date       Account_Type    Branch Transaction_Type  \
0  2023-01-19      Fixed Deposit   Central     Loan Payment
1  2023-01-16            Current    Uptown       Withdrawal
2  2023-01-10            Current    Uptown     Loan Payment
3  2023-01-18            Savings    Uptown     Loan Payment
4  2023-01-14  Recurring Deposit  Suburban     Loan Payment

   Transaction_Amount  Account_Balance
0              985.51          6839.59
1              641.43          8908.39
2             3363.85         12428.67
3             1914.60          5776.63
4             2788.57          4779.04

In [7]:
print(df.describe())

       Transaction_Amount  Account_Balance
count           20.000000        20.000000
mean          2705.829500      7967.766500
std           1429.829787      2770.248821
min            641.430000      2592.160000
25%           1482.085000      6460.127500
50%           2567.645000      7905.275000
75%           4121.525000      9127.702500
max           4683.640000     12836.510000

In [9]:
print(df.isnull().sum())

Date                  0
Account_Type          0
Branch                0
Transaction_Type      0
Transaction_Amount    0
Account_Balance       0
dtype: int64

In [11]:
account_group = df.groupby("Account_Type").agg({
    "Transaction_Amount": "sum",
    "Account_Balance": "mean"
})
print(account_group)

                   Transaction_Amount  Account_Balance
Account_Type
Current                      15052.57      9893.404000
Fixed Deposit                14102.59      6120.380000
Recurring Deposit            15179.99      7627.283333
Savings                       9781.44      9134.110000

In [13]:
branch_group = df.groupby("Branch").agg({
    "Transaction_Amount": ["count", "mean"]
})
print(branch_group)

         Transaction_Amount
                      count         mean
Branch
Central                   8  2942.338750
Downtown                  3  3188.703333
Suburban                  5  2773.278000
Uptown                    4  1786.345000