In [3]:
import pandas as pd

# Step 1: Create a dictionary with the given data
data = {
    "Name": ["John", "Alice", "Bob", "Diana"],
    "Age": [28, 34, 23, 29],
    "Department": ["HR", "IT", "Marketing", "Finance"],
    "Salary": [45000, 60000, 35000, 50000]
}

# Step 2: Create a DataFrame from the dictionary
df = pd.DataFrame(data)

# Step 3: Display the DataFrame
print(df)

    Name  Age Department  Salary
0   John   28         HR   45000
1  Alice   34         IT   60000
2    Bob   23  Marketing   35000
3  Diana   29    Finance   50000

In [5]:
import pandas as pd

# Step 1: Create the DataFrame
data = {
    "Name": ["John", "Alice", "Bob", "Diana"],
    "Age": [28, 34, 23, 29],
    "Department": ["HR", "IT", "Marketing", "Finance"],
    "Salary": [45000, 60000, 35000, 50000]
}

df = pd.DataFrame(data)

# Step 2: Display the first 2 rows of the DataFrame
print("First 2 rows of the DataFrame:")
print(df.head(2))

# Step 3: Add a new column 'Bonus' (10% of the salary)
df["Bonus"] = df["Salary"] * 0.10
print("\nDataFrame after adding 'Bonus' column:")
print(df)

# Step 4: Calculate the average salary
average_salary = df["Salary"].mean()
print(f"\nAverage Salary: {average_salary}")

# Step 5: Filter and display employees who are older than 25
filtered_df = df[df["Age"] > 25]
print("\nEmployees older than 25:")
print(filtered_df)

First 2 rows of the DataFrame:
    Name  Age Department  Salary
0   John   28         HR   45000
1  Alice   34         IT   60000

DataFrame after adding 'Bonus' column:
    Name  Age Department  Salary   Bonus
0   John   28         HR   45000  4500.0
1  Alice   34         IT   60000  6000.0
2    Bob   23  Marketing   35000  3500.0
3  Diana   29    Finance   50000  5000.0

Average Salary: 47500.0

Employees older than 25:
    Name  Age Department  Salary   Bonus
0   John   28         HR   45000  4500.0
1  Alice   34         IT   60000  6000.0
3  Diana   29    Finance   50000  5000.0